* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, div, section  {
    display: block;
}
a {
    text-decoration: none;
    color: #000000;
}
body {
    font-family: nunito;
}
main {
    display: flex;
    flex-direction: row;
}
#warraper {
    flex-direction: column;
}
nav.flex-column.nav-pills a span {
    color: #000000;
    font-family: Nunito;
    margin-left:32px ;
    
}
nav.flex-column.nav-pills a svg {
    color: #000000;
}
nav.flex-column.nav-pills .nav-link.active {
    background-color:#D3D3D3 ;
}
 
 nav.flex-column.nav-pills a:hover {
    background-color: #fff;
}
#warraper > nav .breadcrumb:first-of-type {
    margin-top: 10px;
}
nav .breadcrumb:last-of-type{
    margin-left: 22px;

}
.nav .nav-link:not(.nav .nav-link:first-of-type) {
    margin-top: 44px;
}

header {
    background-color: #A8D5BA;
    min-width: 100%;
    max-width: 100%;
}
.headerContiner {
    display: flex;
    height: 116px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#logo {
    background-image: url("/images/logo.png");
    background-size: contain;
    height: 80px;
    width: 80px;
    display: block;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 21px;
    margin-bottom: 16px;
}
#logo span {
    padding-left: 102px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    line-height: 70px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.search-toggle {
  background: url("/images/image\ 1.png") no-repeat center center;
  background-size: 20px 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  display: none; 
}

.search-input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-image: url('/images/image\ 1.png'); 
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px 30px;
    padding-left: 40px;
}
.search-input:focus {
  outline: none;
  border: 1px solid #555; 
}

#asideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A8D5BA;
    height: 100vh;
    width: 205px;
}
.btn {
    color: #000000;
    background:none;
    border: none;
    margin-top: 49px;
}
.btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dropdown-menu {
    border: none;
    background-color: #F9F6EE;
}
svg {
    width:24px;
    height:24px;
}
#toggleSidebar {
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end;
    
} 
#warraper h1 {
    font-weight: bold;
    font-family: Merriweather;
    margin-left: 134px;
    font-size: 48px;
}
h1 + img {
    height:367px ;
    width: 583px;
    margin-left: 180px;
    margin-top: 42px;
    border-radius: 10px;
}
#userNavContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 135px;
    align-items: center;
    justify-content: space-between;
    margin-top: 115px;
}

@media (min-width: 768px) and (max-width:1420px ){
    #asideBar.expanded .nav #toggleSidebar {
        align-self: flex-end;
    }
    #toggleSidebar {
        align-self: center;
        margin-top: 10px;
        margin-right: 0px;
    }
    .search-input {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        z-index: 10;
        background: white;
    }

    .search-toggle {
        display: block;
        border-radius: 50%;
        background-color: #fff;
        width: 47px;
        height: 47px;
    }

    .search-container.active .search-input {
        display: block;
    }
    .nav .nav-link span {
        display: none;
    }
     
    #asideBar {
        width: 70px;
        align-items: center;
        height: 100vh;
    }
    #asideBar.expanded {
        position: absolute;
        width: 205px;
        left: 0;
        z-index: 1000;
        height: 100vh;
        background-color: #A8D5BA;
        transition: width 0.3s ease;
        overflow-y: auto;
    }
     #asideBar.expanded .nav .nav-link  span{
        display: inline;
    }
    #asideBar.expanded > #profileContiner > .btn > span {
        display: inline;

    } 
    #profileContiner .btn span {
        display: none;
    }
    
   #warraper h1 {
    font-size: 34px;
    margin-left: 110px;
   }
   h1 + img {
    height: auto;
    max-width: 100%;
    margin-left: 70px;
   }
   #userNavContainer {
    margin-left: 70px;
   }
   
}