* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, div, section  {
    display: block;
}
a {
    text-decoration: none;
    color: #000000;
}
body {
    font-family: nunito;
}
main {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    min-height: 100vh;
}
#warraper {
    flex-direction: column;
    margin: 0px 125px;
    text-align: center;
}
nav.flex-column.nav-pills a span {
    color: #000000;
    font-family: Nunito;
    margin-left:32px ;
    
}
nav.flex-column.nav-pills a svg {
    color: #000000;
}
nav.flex-column.nav-pills .nav-link.active {
    background-color:#D3D3D3 ;
}
 
nav.flex-column.nav-pills a:hover {
    background-color: #fff;
}
nav .breadcrumb:first-of-type {
    margin-top: 10px;
}
nav .breadcrumb {
    margin-left: 22px;

}
.nav .nav-link:not(.nav .nav-link:first-of-type) {
    margin-top: 44px;
}

header {
    background-color: #A8D5BA;
    min-width: 100%;
    max-width: 100%;
}
.headerContiner {
    display: flex;
    height: 116px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#logo {
    background-image: url("/images/logo.png");
    background-size: contain;
    height: 80px;
    width: 80px;
    display: block;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 21px;
    margin-bottom: 16px;
}
#logo span {
    padding-left: 102px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    line-height: 70px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.search-toggle {
  background: url("/images/image\ 1.png") no-repeat center center;
  background-size: 20px 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  display: none; 
}

.search-input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-image: url('/images/image\ 1.png'); 
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px 30px;
    padding-left: 40px;
}
.search-input:focus {
  outline: none;
  border: 1px solid #555; 
}

#asideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A8D5BA;
    width: 205px;
}
.btn {
    color: #000000;
    background:none;
    border: none;
    margin-top: 49px;
    display: flex;
    text-align: center;
}
.btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#profileContiner > .btn > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 9px;
}
.dropdown-menu {
    border: none;
    background-color: #F9F6EE;
}
svg {
    width:24px;
    height:24px;
}
#toggleSidebar {
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end;
    display: none;
    
} 
#warraper h1 {
    font-weight: bold;
    font-family: Merriweather;
    font-size: 48px;
    margin-top: 100px;
    
}
h1 + img {
    height: auto; 
    max-width: 70%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 42px; 
    border-radius: 10px; 
}
#userNavContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 143px;
    margin-top: 115px;
}
#userNavContainer a {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #A8D5BA;
    margin-bottom: 115px;
    border-radius: 10px;
    
}
.activityIcon {
    background-image: url("/images/activity.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
   
}
.chatDotsIcon {
    background-image: url("/images/chat-dots.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    
}
.recycleIcon {
    background-image: url("/images/recycle.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
  
}
#userNavContainer a span {
    font-size: 20px;
    margin-right: 10px;
}

@media (min-width: 360px) and (max-width: 992px) {
    #toggleSidebar {
        display: block;
        align-self: center; 
        margin-top: 10px;
        margin-right: 0px;
    }
    #asideBar.expanded .nav #toggleSidebar {
        align-self: flex-end; 
    }

    .search-input {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        z-index: 10;
        background: white;
    }
    .search-toggle {
        display: block;
        border-radius: 50%;
        background-color: #fff;
        width: 47px;
        height: 47px;
    }
    .search-container.active .search-input {
        display: block;
    }

    .nav .nav-link span {
        display: none;
    }
    #asideBar {
        width: 70px;
        align-items: center;
        height: 100vh;
    }
    #asideBar.expanded {
        position: absolute;
        width: 205px;
        left: 0;
        z-index: 1000;
        height: 100vh;
        background-color: #A8D5BA;
        transition: width 0.3s ease;
        overflow-y: auto;
    }
    #asideBar.expanded .nav .nav-link span {
        display: inline;
    }
    #asideBar.expanded > #profileContiner > .btn > span {
        display: inline;
    }
    #profileContiner .btn span {
        display: none;
    }

    #warraper {
        margin: 0 auto; 
    }

    #userNavContainer {
        gap: 40px;
        margin-top: 50px;
        
    }
    #userNavContainer a {
        width: 100px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .activityIcon {
      width: 56px;
    height: 56px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .chatDotsIcon {
         width: 56px;
    height: 56px;
        margin-bottom: 0px;
        margin-top: 0px;    
    }
    .recycleIcon {
     width: 56px;
    height: 56px;
        margin-bottom: 0px;
        margin-top: 0px;   
    }
    
    #userNavContainer a span {
        font-size: 16px;
    }
}


@media (min-width: 360px) and (max-width: 767px) { 
    #logo {
        height: 60px;
        width: 60px;
    }
    #logo span {
        letter-spacing: 5px;
        padding-left: 70px;
        font-size: 14px;
    }
    #warraper h1 {
        font-size: 16px;
    }
    #userNavContainer {
        flex-direction: column; 
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    #warraper h1 {
        font-size: 42px;
    }
    #userNavContainer {
        flex-direction: row; 
    }
}